<!-- Your Dashboard banner -->
<div class="md:flex md:items-center md:justify-between bg-blue-500">
  <div class="flex-1 min-w-0">
    <!-- Text size doesn't change?? -->
    <h1 class="text-2xl font-bold leading-7 text-white sm:text-3xl sm:truncate m-3">
      Your Dashboard
    </h1>
  </div>
</div>

<!-- Create post button -->
<div class="mt-4 mx-4 flex justify-center">
  <button type="submit"
    class="inline-flex items-center pl-3 pr-4 py-2 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-gray-900 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <!-- Heroicon document-add solid -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd"
        d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z"
        clip-rule="evenodd" />
    </svg>
    Create New Post
  </button>
</div>
{{!-- Anthony's create post --}}
{{!-- <section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Post Content</label>
      <textarea name="post-content"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section> --}}

<!-- Create post form -->
<form class="new-post-form space-y-2 mt-4">
  <div class="mx-4">
    <h3 class="p-2 text-lg leading-6 font-medium bg-blue-500 text-white rounded-md">
      Create New Post
    </h3>
  </div>

  <div class="sm:col-span-6 mx-4">
    <label for="post-title" class="block text-sm font-medium text-gray-700">
      Item Title
    </label>
    <div class="mt-1">
      <input type="text" name="post-title" id="post-title" autocomplete="post-title"
        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"
        placeholder="Title">
    </div>
  </div>

  <div class="sm:col-span-6 mx-4">
    <label for="post-price" class="block text-sm font-medium text-gray-700">
      Item Price
    </label>
    <div class="mt-1">
      $ <input type="number" min="0.00" max="999999999.00" step="0.01" id="post-price" name="post-price"
        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 inline w-500px sm:text-sm border border-gray-300 rounded-md"
        placeholder="0.00">
    </div>
  </div>

  <div class="mx-4">
    <div>
      <div class="mt-2 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-6">
          <label for="post-content" class="block text-sm font-medium text-gray-700">
            Item Description
          </label>
          <div class="mt-1">
            <textarea id="post-content" name="post-content" rows="3"
              class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"
              placeholder="Describe your amazing product here!!"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mx-4">

    <label class="block text-sm font-medium text-gray-700">
      Item Photo
    </label>
    <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
      <div id="upload-box" class="space-y-1 text-center">
        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48"
          aria-hidden="true">
          <path
            d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div class="flex text-sm text-gray-600">
          <label for="file-upload"
            class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
            <p>Upload a file</p>
            <input id="file-upload" name="file-upload" type="file" class="sr-only">
          </label>
        </div>
        <p class="text-xs text-gray-500">
          PNG, JPG, GIF up to 10MB
        </p>
      </div>
      <img id="img-preview" style="height: 20vh" />
    </div>
  </div>

  <div>
    <div class="flex justify-end mr-10">
      <button type="submit"
        class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-900 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Create
      </button>
    </div>
  </div>
</form>

{{!-- Anthony's users posts --}}
{{!-- {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

<!-- User's posts -->
{{#if posts.length}}
<div class="mx-4">
  <h3 class="p-2 text-lg leading-6 font-medium bg-blue-500 text-white rounded-md">
    Your Posts
  </h3>
</div>

{{#each posts as |post| }}
<div class="mt-4 mx-4">
  <ul role="list" class="space-y-4">
    <li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg">
      <div class="flex justify-between">
        <h2 id="question-title-81614" class="text-base font-medium text-gray-900">
          {{post.title}}
        </h2>
        <div class="text-sm text-gray-500">
          <div>{{format_date created_at}}</div>
        </div>
      </div>
      <div class="mt-2 text-sm text-gray-700 space-y-4">
        <p>{{post.post_content}}</p>
      </div>
      <div class="mt-2 flex justify-between">
        <div>
          <div class="ml-4 mt-4 text-sm font-medium text-gray-900">
            <div>$ {{post.post_price}}</div>
          </div>
          <div class="ml-4 text-sm font-medium text-gray-900">
            Seller: {{post.user.username}}
          </div>
        </div>
        <div>
          <img id="post-img" src="{{post.img_url}}" style="max-height: 20vh; width: auto"/>
        </div>
      </div>
        <li>
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </li>
    </li>
  </ul>
</div>
{{/each}}
{{/if}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/add-post.js"></script>